body {
    background-image: linear-gradient(to top, #1756de, #2c75a2, #acc5e2);
    background-attachment: fixed;
}

main {
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.726);
    margin: auto;
    text-align: center;
    width: 650px;
}

h1, p {
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 2px 2px rgba(14, 14, 105, 0.444);
}

.estilo {
    font-size: 20px;
    font-weight: 700;
    color: #1679b6;
    text-decoration: underline;
}

.link {
    font-style: italic;
    transition: 300ms;
    text-decoration: none;
    color: rgb(46, 92, 231);    
    border-radius: 5px;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.208);
    color: rgb(16, 44, 144);
}

.color {
    background-image: linear-gradient(to left, #ADD7F6, #3F8EFCaf);
}

#social {
    display: flex;
    flex-direction: row;
    gap: 15px; 
    justify-content: center;
    margin: 20px 0; 
}

#social a {
    color: black; 
    font-size: 30px;
    text-decoration: none;      
    transition: 300ms;  
}

#social a:hover {
    color: rgb(53, 96, 239);
}

#redi {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

#margin {
    margin-left: 7px;
    margin-right: 7px;
}

button {
    background-color: rgba(13, 104, 231, 0.496);
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px;
    transition-duration: 300ms;
}

button:hover {
    background-color: rgb(206, 216, 225);
    cursor: pointer;
}